/*
* Css Colors
* Custom Matugen Output
*/
@define-color foreground #2e3035;
@define-color background #111318;
@define-color cursor #2e3035;
@define-color color0 #111318;
@define-color color1 #ffb4ab;
@define-color color2 #93000a;
@define-color color3 #2e3035;
@define-color color4 #3b608f;
@define-color color5 #e1e2e9;
@define-color color6 #e1e2e9;
@define-color color7 #690005;
@define-color color8 #ffdad6;
@define-color color9 #00315d;
@define-color color10 #d4e3ff;
@define-color color11 #001c39;
@define-color color12 #204876;
@define-color color13 #263141;
@define-color color14 #d8e3f8;
@define-color color15 #111c2b;
