layout {
    background-color "transparent"

    focus-ring {
        active-color   "#bfc2ff"
        inactive-color "#908f9d"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bfc2ff"
        inactive-color "#908f9d"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bfc2ff"
        inactive-color "#908f9d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bfc2ff80"
    }
}

recent-windows {
    highlight {
        active-color   "#292e8b"
        urgent-color   "#ffb4ab"
    }
}
