layout {
    background-color "transparent"

    focus-ring {
        active-color   "#abc7ff"
        inactive-color "#8d909b"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#abc7ff"
        inactive-color "#8d909b"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#abc7ff"
        inactive-color "#8d909b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#abc7ff80"
    }
}

recent-windows {
    highlight {
        active-color   "#214882"
        urgent-color   "#ffb4ab"
    }
}
