/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #89a1c4 !important;
  --toolbarbutton-icon-fill: #b0c8ed !important;
  --toolbar-field-color: #e3e2e5 !important;
  --tab-selected-textcolor: #b0c8ed !important;
  --toolbar-color: #e3e2e5 !important;
  --arrowpanel-color: #e3e2e5 !important;
  --arrowpanel-background: #1f2022 !important;
  --sidebar-text-color: #e3e2e5 !important;
/*  --zen-main-browser-background: #121316 !important; */
}

.sidebar-placesTree {
  background-color: #1f2022 !important;
}

#zen-workspaces-button {
  background-color: #1f2022 !important;
}

#TabsToolbar {
  background-color: #121316 !important;
}

.urlbar-background {
  background-color: #1f2022 !important;
}

.urlbar-input::selection {
  color: #18314f !important;
  background-color: #b0c8ed !important;
}

.urlbarView-url {
  color: #c4c6ce !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #b0c8ed
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #bcd6fe !important;
  --identity-icon-color: #bcd6fe !important;
}

.identity-color-turquoise {
  --identity-tab-color: #b0c8ed !important;
  --identity-icon-color: #b0c8ed !important;
}

.identity-color-green {
  --identity-tab-color: #87e086 !important;
  --identity-icon-color: #87e086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8e097 !important;
  --identity-icon-color: #e8e097 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbd17b !important;
  --identity-icon-color: #dbd17b !important;
}

.identity-color-red {
  --identity-tab-color: #e05f5f !important;
  --identity-icon-color: #e05f5f !important;
}

.identity-color-pink {
  --identity-tab-color: #4e7ea2 !important;
  --identity-icon-color: #4e7ea2 !important;
}

.identity-color-purple {
  --identity-tab-color: #8d9bb1 !important;
  --identity-icon-color: #8d9bb1 !important;
}

#zen-appcontent-navbar-container {
  background-color: #121316 !important;
}
