/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #214882 !important;
  --toolbarbutton-icon-fill: #abc7ff !important;
  --toolbar-field-color: #e2e2e7 !important;
  --tab-selected-textcolor: #abc7ff !important;
  --toolbar-color: #e2e2e7 !important;
  --arrowpanel-color: #e2e2e7 !important;
  --arrowpanel-background: #1e2024 !important;
  --sidebar-text-color: #e2e2e7 !important;
/*  --zen-main-browser-background: #121317 !important; */
}

.sidebar-placesTree {
  background-color: #1e2024 !important;
}

#zen-workspaces-button {
  background-color: #1e2024 !important;
}

#TabsToolbar {
  background-color: #121317 !important;
}

.urlbar-background {
  background-color: #1e2024 !important;
}

.urlbar-input::selection {
  color: #002f65 !important;
  background-color: #abc7ff !important;
}

.urlbarView-url {
  color: #c3c6d1 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #abc7ff
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #b7d5ff !important;
  --identity-icon-color: #b7d5ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #abc7ff !important;
  --identity-icon-color: #abc7ff !important;
}

.identity-color-green {
  --identity-tab-color: #87e086 !important;
  --identity-icon-color: #87e086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8e097 !important;
  --identity-icon-color: #e8e097 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbd27b !important;
  --identity-icon-color: #dbd27b !important;
}

.identity-color-red {
  --identity-tab-color: #e0605f !important;
  --identity-icon-color: #e0605f !important;
}

.identity-color-pink {
  --identity-tab-color: #507dab !important;
  --identity-icon-color: #507dab !important;
}

.identity-color-purple {
  --identity-tab-color: #8c9dbf !important;
  --identity-icon-color: #8c9dbf !important;
}

#zen-appcontent-navbar-container {
  background-color: #121317 !important;
}
