/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #8394b1 !important;
  --toolbarbutton-icon-fill: #b6c7e6 !important;
  --toolbar-field-color: #e4e2e4 !important;
  --tab-selected-textcolor: #b6c7e6 !important;
  --toolbar-color: #e4e2e4 !important;
  --arrowpanel-color: #e4e2e4 !important;
  --arrowpanel-background: #1f1f21 !important;
  --sidebar-text-color: #e4e2e4 !important;
/*  --zen-main-browser-background: #131315 !important; */
}

.sidebar-placesTree {
  background-color: #1f1f21 !important;
}

#zen-workspaces-button {
  background-color: #1f1f21 !important;
}

#TabsToolbar {
  background-color: #131315 !important;
}

.urlbar-background {
  background-color: #1f1f21 !important;
}

.urlbar-input::selection {
  color: #203149 !important;
  background-color: #b6c7e6 !important;
}

.urlbarView-url {
  color: #c4c6ce !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #b6c7e6
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #c3d5f7 !important;
  --identity-icon-color: #c3d5f7 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #b6c7e6 !important;
  --identity-icon-color: #b6c7e6 !important;
}

.identity-color-green {
  --identity-tab-color: #87e086 !important;
  --identity-icon-color: #87e086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8e097 !important;
  --identity-icon-color: #e8e097 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbd27b !important;
  --identity-icon-color: #dbd27b !important;
}

.identity-color-red {
  --identity-tab-color: #e05f5f !important;
  --identity-icon-color: #e05f5f !important;
}

.identity-color-pink {
  --identity-tab-color: #527da4 !important;
  --identity-icon-color: #527da4 !important;
}

.identity-color-purple {
  --identity-tab-color: #8f99ac !important;
  --identity-icon-color: #8f99ac !important;
}

#zen-appcontent-navbar-container {
  background-color: #131315 !important;
}
