/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #292e8b !important;
  --toolbarbutton-icon-fill: #bfc2ff !important;
  --toolbar-field-color: #e4e1ea !important;
  --tab-selected-textcolor: #bfc2ff !important;
  --toolbar-color: #e4e1ea !important;
  --arrowpanel-color: #e4e1ea !important;
  --arrowpanel-background: #1f1f25 !important;
  --sidebar-text-color: #e4e1ea !important;
/*  --zen-main-browser-background: #131319 !important; */
}

.sidebar-placesTree {
  background-color: #1f1f25 !important;
}

#zen-workspaces-button {
  background-color: #1f1f25 !important;
}

#TabsToolbar {
  background-color: #131319 !important;
}

.urlbar-background {
  background-color: #1f1f25 !important;
}

.urlbar-input::selection {
  color: #1e2281 !important;
  background-color: #bfc2ff !important;
}

.urlbarView-url {
  color: #c7c5d4 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #bfc2ff
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #cccfff !important;
  --identity-icon-color: #cccfff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #bfc2ff !important;
  --identity-icon-color: #bfc2ff !important;
}

.identity-color-green {
  --identity-tab-color: #86e088 !important;
  --identity-icon-color: #86e088 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8e397 !important;
  --identity-icon-color: #e8e397 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbd57b !important;
  --identity-icon-color: #dbd57b !important;
}

.identity-color-red {
  --identity-tab-color: #e0645f !important;
  --identity-icon-color: #e0645f !important;
}

.identity-color-pink {
  --identity-tab-color: #6575c0 !important;
  --identity-icon-color: #6575c0 !important;
}

.identity-color-purple {
  --identity-tab-color: #989abf !important;
  --identity-icon-color: #989abf !important;
}

#zen-appcontent-navbar-container {
  background-color: #131319 !important;
}
