/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #8b90a5 !important;
  --toolbarbutton-icon-fill: #c1c6dc !important;
  --toolbar-field-color: #e5e2e3 !important;
  --tab-selected-textcolor: #c1c6dc !important;
  --toolbar-color: #e5e2e3 !important;
  --arrowpanel-color: #e5e2e3 !important;
  --arrowpanel-background: #201f21 !important;
  --sidebar-text-color: #e5e2e3 !important;
/*  --zen-main-browser-background: #131315 !important; */
}

.sidebar-placesTree {
  background-color: #201f21 !important;
}

#zen-workspaces-button {
  background-color: #201f21 !important;
}

#TabsToolbar {
  background-color: #131315 !important;
}

.urlbar-background {
  background-color: #201f21 !important;
}

.urlbar-input::selection {
  color: #2b3042 !important;
  background-color: #c1c6dc !important;
}

.urlbarView-url {
  color: #c6c6cd !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #c1c6dc
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ced4eb !important;
  --identity-icon-color: #ced4eb !important;
}

.identity-color-turquoise {
  --identity-tab-color: #c1c6dc !important;
  --identity-icon-color: #c1c6dc !important;
}

.identity-color-green {
  --identity-tab-color: #86e086 !important;
  --identity-icon-color: #86e086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8e197 !important;
  --identity-icon-color: #e8e197 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbd37b !important;
  --identity-icon-color: #dbd37b !important;
}

.identity-color-red {
  --identity-tab-color: #e0625f !important;
  --identity-icon-color: #e0625f !important;
}

.identity-color-pink {
  --identity-tab-color: #5e79ad !important;
  --identity-icon-color: #5e79ad !important;
}

.identity-color-purple {
  --identity-tab-color: #9497a5 !important;
  --identity-icon-color: #9497a5 !important;
}

#zen-appcontent-navbar-container {
  background-color: #131315 !important;
}
